<% include header %>
<!--  Your code below this line -->



<!--  EJS Syntax can be found here: http://ejs.co/ -->

<h1>Card</h1>
<p><%= company %></p>
<p><%= address %></p>
<img src="<%= image %>" height="100px" width="100px" />

<!--  Your code above this line -->
<% include footer %>